.filters-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filters {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 70px;
}

.filters h3 {
    font-family: sans-serif;
}

.m-filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: min-content;
    margin-bottom: 10%;
}

.submit-button {
    margin-top: 4%;
    color: #000000;
    background: #a8c5d8;
    position: relative;
    padding: 8px 16px;
    border: none;
    outline: none;
    border-radius: 2px;
}

.submit-button {
    margin-top: 4%;
    position: relative;
    padding: 8px 16px;
    background: #3498db;
    border: none;
    outline: none;
    border-radius: 2px;
    cursor: pointer;
}

.submit-button:hover {
    background: #65abda;
}

.button__text {
    font: bold 20px;
    color: #ffffff;
    transition: all 0.2s;
}

.button--loading .button__text {
    visibility: hidden;
    opacity: 0;
}

.button--loading::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}